@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.findForm{
  margin-top: 10px;
}
.form-control::-moz-placeholder {
  color: #F7F7F5;
}
.form-control:-ms-input-placeholder {
  color: #F7F7F5;
}
.form-control::-webkit-input-placeholder {
  color: #F7F7F5;
}
.search-bar{
  background-color: #2b2c3a;\
}
.btn{
  background-color: #129BFD;
  color: white;
}

.radioBtnText{
  margin-top: 6px;
  color: #1e283b;

}

/*//////////////////////////////////////////////////////////*/

.top-odd{
  background-color: #1e283b;
  height: 40px;
  border-color: white;
}

.top-even{
  background-color: #2b2c3a;
  height: 40px;
  border-color: white;
}
.top-outside-right-row{
  border-top-right-radius: 12px;
}

.top-outside-left-row{
  border-top-left-radius: 12px;
}
.top-boxes p{
  color: white;
  margin-top: 11px;
  text-align: center;
}
#currentDay{
  color: white;
  margin-top: 11px;
  margin-left: 10px;
}
/*//////////////////////////////////////////////////////////*/

.bottom-even{
  background-color: #303141;
  height: 250px;
  border-color: white;
}

.bottom-odd{
  background-color: #222d42;
  height: 250px;
  border-color: white;
}
.currentCity{
  color: white;
  margin-top: 16px;
  margin-left: 13px;
  font-size: 15px;
}
.weatherIcon{
  margin-top: -34px;
  width: 144px;
  height: 144px;
  margin-bottom: 30px;
}
h1 {
  margin-top: 18px;
  color: white;
  margin-left: 10px;
  font-size: 67px;
}

.bottom-boxes span{
  color: white;
}

.windSpeedTitle{
  margin-left: 60px;
  color: gray;
}

.descriptionTitle{
  margin-left: 60px;
  color: gray;
}

.currentHumidityTitle {
  margin-left: 49px;
  color: gray;
}

.currentHumidity{
  margin-left: 68px;
}

.description{
  margin-left: 60px;
}

.windSpeed{
  margin-left: 60px;
}

.bottom-outside-right-row{
  border-bottom-right-radius: 12px;
}

.bottom-outside-left-row{
  border-bottom-left-radius: 12px;
}
/*//////////////////////////////////////////////////////////*/

.otherDays{
  font-size: 62px;
}

.otherDaysWeatherIcon{
  margin-left: 11px;
  margin-top: 2px;
  width: 148px;
  height: 112px;
}
/*//////////////////////////////////////////////////////////*/
.history {
  margin-top: 188px;
  border-radius: 12px;
  background-color: #222d42;
  width: 233px;
  height: 200px;
}
#historyTitle{
  font-size: 15px;
  color: white;
  margin-top: -184px;
  margin-left: 90px;
}
